<div class="btw">
	<a href="/" class="mainPage" title="На главную">
		<div class="logo"></div>
	</a>
	<h2>Контакты</h2>
</div>
<section class="contacts" id="contacts">
	<div class="person">
		<h3>Прокат / Мотошкола:</h3>
		<a href="tel:+79887276959">
			<div class="photo" style="background-image: url(/data/crew/photos/zhdanov.png);"></div>
			<div class="inc">
				<span class="number">+7 (988) 727-69-59</span>
				<span class="name">Станислав</span>
			</div>
		</a>
	</div>
	<div class="person">
		<h3>Сотрудничество:</h3>
		<a href="tel:+79889300569">
			<div class="photo" style="background-image: url(/data/crew/photos/vekshin.png);"></div>
			<div class="inc">
				<span class="number">+7 (988) 930-05-69</span>
				<span class="name">Виталий</span>
			</div>
		</a>
	</div>
	<div class="mail">
		<h3>Пишите нам!</h3>
		<h2><a href="mailto:crew@evilwheels.ru">crew@evilwheels.ru</a></h2>
	</div>
	<div class="copyright">
		<p style="color: rgba(0, 0, 0, 0.5);">Кабардино-Балкарская региональная организация по развитию экстримальных видов спорта «Лихие Колеса» &copy; Все права защищены.</p>
	</div>
</section>
