<div class="btw">
	<a href="/" class="mainPage" title="На главную">
		<div class="logo"></div>
	</a>
	<h2>Трассы<span class="small">beta</span></h2>
	<div class="controls" id="mapControls">
		<div class="select">
			<select id="trailsCat">
				<option value="ALL">ВСЕ</option>
				<option value="MTB">ВЕЛО</option>
				<option value="MOTO">МОТО</option>
				<option value="ATV">КВАДРО</option>
			</select>
		</div>
	</div>
</div>
<section class="map" id="map">
	<div class="mapContainer">
		<div id="trailMap"></div>
	</div>
	<div class="mapLegend">
		<div class="item" id="bikeTrail">
			<span class="icon map mtb"></span>
			<p>Вело</p>
		</div>
		<div class="item" id="motoTrail">
			<span class="icon map moto"></span>
			<p>Мото</p>
		</div>
		<div class="item" id="atvTrail">
			<span class="icon map atv"></span>
			<p>Квадро</p>
		</div>
		<br>
		<div class="item" style="width: 120px;">
			<p>Сложность:</p>
		</div>
		<div class="item" style="width: 130px;">
			<span class="line green"></span>
			<p>Легкая</p>
		</div>
		<div class="item" style="width: 130px;">
			<span class="line blue"></span>
			<p>Средняя</p>
		</div>
		<div class="item" style="width: 130px;">
			<span class="line red"></span>
			<p>Тяжелая</p>
		</div>
		<div class="item" style="width: 165px;">
			<span class="line black"></span>
			<p>Экстремальная</p>
		</div>
	</div>
</section>
<section class="contacts" style="margin: 50px auto;">
	<div class="copyright">
		<p style="color: rgba(0, 0, 0, 0.5);">Кабардино-Балкарская региональная организация по развитию экстримальных видов спорта «Лихие Колеса» &copy; Все права защищены.</p>
	</div>
</section>
