.modalComponent {
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 10000;

	.innerComponent {
		display: table-cell;
		vertical-align: middle;

		.viewComponent {
			background-color: $white;
			border-radius: 6px;
			width: 100%;
			max-width: 640px;
			margin: 0px auto;
			opacity: 0;

			.trail {
				header {
					position: relative;
					background-color: rgba(240, 240, 240, 1);
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
					width: 100%;
					height: 250px;

					#previewMap {
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						width: 100%;
						height: 100%;
						z-index: 0;
					}

					#afterMap {
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						content: ' ';
						border-top-left-radius: 6px;
						border-top-right-radius: 6px;
						z-index: 100;
					}

					.control {
						position: absolute;
						top: 5px;
						right: 5px;
						z-index: 101;
					}
				}

				.content {
					.backgroundText {
						font-weight: 600;
						font-size: 72px;
						position: absolute;
						margin-top: -25px;
						margin-left: 30px;
						color: rgba(0, 0, 0, 0.1);
						text-transform: uppercase;
						cursor: default;
						z-index: 0;
					}

					p {
						margin: 25px 50px;
						text-align: justify;
					}

					.photos {
						position: relative;
						width: 95%;
						height: 200px;
						margin: 50px auto;

						.photo {
							display: inline-block;
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							width: 25%;
							height: 120px;
							margin-top: 40px;
							float: left;

							&.main {
								border-radius: 4px;
								width: 50%;
								height: 100%;
								margin-top: 0px;
								box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
							}

							&:first-child {
								border-top-left-radius: 4px;
								border-bottom-left-radius: 4px;
							}

							&:last-child {
								border-top-right-radius: 4px;
								border-bottom-right-radius: 4px;
							}
						}
					}
				}

				footer {
					border-top: 1px solid rgba(0, 0, 0, 0.25);
					height: 110px;
					text-align: center;

					h2 {
						margin-top: 15px;
						text-transform: uppercase;
						cursor: default;
					}

					button {
						margin: 10px auto;
					}

					#phoneservice {
						display: none;
						padding: 15px 0px;

						a {
							font-weight: 500;
							border-bottom: 2px solid transparent;
							color: $digital;
							cursor: default;
							transition: border-color 0.25s ease;

							// &:hover {
							// 	border-color: $digital;
							// }
						}
					}
				}
			}
		}
	}
}

@media(max-height: 768px) {
	.modalComponent {
		.innerComponent {
			.viewComponent {
				max-width: 560px;
				.trail {
					header {
						height: 225px;
					}

					.content {
						.backgroundText {
							font-size: 64px;
							margin-top: -15px;
						}

						p {
							margin: 15px 30px;
						}

						.photos {
							height: 150px;
							margin: 25px auto;

							.photo {
								height: 90px;
								margin-top: 30px;

								&.main {
									box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
								}
							}
						}
					}

					footer {
						h2 {
							margin-top: 10px;
						}

						button {
							margin: 10px auto;
						}
					}
				}
			}
		}
	}
}

.locationView {
	width: 100%;
	height: 100%;

	#locationMap {
		width: 100%;
		height: 100%;
	}
}
