section {
	position: relative;

	&.start {
		height: 700px;

		.background {
			position: absolute;
			right: 0;
			background-color: rgba(0, 0, 0, 0.25);
			background-image: url(http://evilwheels.ru/native/landing.jpg);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: 0;
			transition: all 0.25s ease;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.5) 100%);
				background-color: rgba(0, 0, 0, 0.35);
				content: ' ';
			}
		}

		.social {
			position: absolute;
			top: 25px;
			right: 35px;
			z-index: 1;

			.icon {
				display: block;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border: 2px solid;
				border-radius: 100%;
				width: 50px;
				height: 50px;
				margin-top: 10px;

				&.vk {
					background-image: url(/native/socialVK.png);
					border-color: #3a6892;

					&:hover {
						border-color: $white;
					}
				}

				&.yt {
					background-image: url(/native/socialYT.png);
					border-color: #fd221a;

					&:hover {
						border-color: $white;
					}
				}

				&.in {
					background-image: url(/native/socialIN.png);
					border-color: #2a5b83;

					&:hover {
						border-color: $white;
					}
				}
			}
		}

		.windowContainer {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 600px;
			height: 400px;
			margin-top: -200px;
			margin-left: -300px;
			z-index: 1;

			.logo {
				background-image: url(/native/logo.png);
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				width: 600px;
				height: 360px;

				&.inverted {
					background-image: url(/native/logoInverted.png);
				}
			}
		}

		.scrollContainer {
			position: absolute;
			bottom: 20px;
			width: 100%;

			.scrollElement {
				display: block;
				border: 3px solid $white;
				border-radius: 20px;
				width: 32px;
				height: 52px;
				margin: 0px auto;

				.wheel {
					background-color: $white;
					border-radius: 2px;
					width: 4px;
					height: 12px;
					margin-left: 11px;
					margin-top: 8px;
					animation: scrollEncourage 2s infinite;
				}
			}
		}
	}

	&.about {
		.transition {
			position: absolute;
			background-image: url(/native/transition.png);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 100%;
			height: 300px;
			margin-top: -250px;
			z-index: 0;
		}

		.aboutMessage {
			position: relative;
			width: 100%;
			max-width: 780px;
			margin: 50px auto;
			text-align: center;
			cursor: default;

			h2 {
				font-size: 56px;
			}

			p {
				font-size: 18px;
				margin-top: 6px;
			}
		}
	}

	&.sideprojects {
		height: 250px;

		.project {
			position: relative;
			display: inline-table;
			width: 33.333%;
			height: 250px;
			float: left;
			transition: opacity 0.25s ease;

			.background {
				position: absolute;
				background-color: rgba(25, 25, 25, 1);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				width: 100%;
				height: 100%;
				z-index: 0;

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background-color: rgba(0, 0, 0, 0.5);
					content: ' ';
				}
			}

			.container {
				display: table-cell;
				position: absolute;
				width: 100%;
				color: $white;
				text-align: center;
				vertical-align: middle;
				z-index: 1;

				.title {
					font-size: 28px;
					font-weight: 600;
					margin-top: 40px;
					margin-bottom: 15px;
					cursor: default;
				}

				.description {
					width: 75%;
					margin: 0px auto;
					margin-bottom: 30px;
				}
			}

			&:hover {
				opacity: 0.95;
			}
		}
	}

	&.map {
		height: 700px;

		.mapContainer {
			width: 100%;
			height: 500px;

			#trailMap {
				height: 100%;
			}
		}

		.mapLegend {
			width: 100%;
			height: 200px;
			text-align: center;

			.item {
				display: inline-block;
				width: 220px;
				height: 75px;
				margin-top: 25px;
				cursor: default;

				&#bikeTrail, &#motoTrail, &#atvTrail {
					text-transform: uppercase;

					&:hover {
						cursor: pointer;

						p {
							border-color: $black;
						}
					}
				}

				.icon {
					display: inline-block;
					width: 50px;
					height: 50px;
					vertical-align: middle;
				}

				p {
					font-weight: 600;
					font-size: 18px;
					display: inline-block;
					border-bottom: 2px dotted transparent;
					margin-left: 10px;
					vertical-align: middle;
					transition: border-color 0.25s ease;
				}
			}
		}
	}

	&.videos {
		height: 500px;

		.wrapper {
			overflow: hidden;

			.slider {
				position: relative;
				height: 500px;
				margin: 0px 10%;
				overflow: visible;

				ul {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 9999px;
					overflow: hidden;

					li {
						font-size: 16px;
						width: 100%;
						height: 500px;
						float: left;

						.thumb {
							position: absolute;
							display: table;
							background-color: rgba(25, 25, 25, 1);
							background-size: cover;
							background-position: center;
							background-repeat: no-repeat;
							width: 100%;
							height: 100%;
							text-align: center;
							transition: opacity 0.25s ease;

							&:hover {
								opacity: 0.95;
							}

							.content {
								display: table-cell;
								vertical-align: middle;

								span {
									font-weight: 500;
									font-size: 18px;
									text-transform: uppercase;
									color: rgba(255, 255, 255, 0.7);
									cursor: default;
								}

								h2 {
									font-size: 56px;
									text-transform: uppercase;
									color: $white;
									cursor: default;

									small {
										font-size: 24px;
										display: block;
										margin-top: 10px;
										color: rgba(255, 255, 255, 0.75);
									}
								}

								button {
									margin-top: 15px;
								}
							}
						}

						iframe {
							width: 100%;
							height: 100%;
						}
					}
				}
			}
		}

		.controls {
			position: relative;
			margin-top: -275px;
			width: 100%;

			.control {
				width: 50px;
				height: 50px;

				&.prev {
					margin-left: 15px;
					float: left;

					span {
						margin-top: 5px;
						margin-left: -5px;
					}
				}

				&.next {
					margin-right: 15px;
					float: right;

					span {
						margin-top: 5px;
						margin-left: 0px;
					}
				}
			}
		}
	}

	&.events {
		.event {
			display: block;
			position: relative;
			width: 100%;
			height: 300px;
			transition: opacity 0.25s ease;

			.background {
				background-color: rgba(25, 25, 25, 1);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 0;

				&::after {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.20) 100%);
					content: ' ';
					z-index: 1;
				}
			}

			.info {
				position: absolute;
				max-width: 760px;
				max-height: 180px;
				margin-top: 60px;
				padding-left: 75px;
				color: $white;
				z-index: 2;

				.date {
					font-size: 18px;
					font-weight: 500;
					color: rgba(255, 255, 255, 0.5);
					cursor: default;
					text-transform: uppercase;
				}

				.title {
					font-size: 28px;
					font-weight: 700;
					margin-top: 10px;
					cursor: default;
					text-transform: uppercase;

					small {
						display: inline-block;
						font-weight: 400;
						font-size: 16px;
						border: 2px solid currentColor;
						border-radius: 6px;
						margin-top: 2px;
						margin-left: 10px;
						padding: 5px;
						vertical-align: top;
						opacity: 0.5;
					}
				}

				.description {
					font-size: 16px;
					font-weight: 400;
					margin-top: 10px;
					margin-bottom: 30px;
				}
			}

			&:hover {
				opacity: 0.95;
			}
		}
	}

	&.followus {
		height: 700px;
		transition: opacity 0.25s ease;

		.background {
			position: absolute;
			background-image: url(/native/ride.png);
			background-size: cover;
			background-position: bottom;
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
			z-index: 0;
		}

		.container {
			position: absolute;
			top: 50%;
			width: 100%;
			height: 350px;
			margin-top: -175px;
			text-align: center;
			z-index: 1;

			.searchus {
				cursor: default;

				h3 {
					font-size: 50px;
					font-weight: 600;
					color: rgba(255, 255, 255, 0.75);
					text-transform: uppercase;
				}

				h2 {
					font-size: 100px;
					font-weight: 700;
					margin-top: -55px;
					color: $white;

				}
			}

			.social {
				margin-top: 40px;

				.msg {
					font-size: 18px;
					margin-bottom: 15px;
					color: $white;
					cursor: default;
				}

				.icon {
					display: inline-block;
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border: 2px solid;
					border-radius: 100%;
					width: 50px;
					height: 50px;
					margin: 0px 5px;

					&.vk {
						background-image: url(/native/socialVK.png);
						border-color: #3a6892;

						&:hover {
							border-color: $white;
						}
					}

					&.yt {
						background-image: url(/native/socialYT.png);
						border-color: #fd221a;

						&:hover {
							border-color: $white;
						}
					}

					&.in {
						background-image: url(/native/socialIN.png);
						border-color: #2a5b83;

						&:hover {
							border-color: $white;
						}
					}
				}
			}
		}

		&:hover {
			opacity: 0.975;
		}
	}

	&.crew {
		display: none;
		height: 300px;
		margin-top: 50px;

		.person {
			width: 33.3%;
			height: 120px;
			text-align: center;
			color: $black;
			cursor: default;
			float: left;

			.photo {
				display: inline-block;
				background-color: rgba(220, 220, 220, 1);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 100%;
				width: 75px;
				height: 75px;
				vertical-align: middle;
			}

			.info {
				display: inline-block;
				vertical-align: middle;
				width: 200px;
				color: $black;

				&:hover {
					.name {
						border-color: $black;
					}
				}

				.name {
					font-weight: 600;
					font-size: 18px;
					border-bottom: 2px solid transparent;
					transition: border-color 0.25s ease;
				}

				.position {
					display: block;
					margin-top: 2px;
				}
			}
		}
	}

	&.contacts {
		.person {
			width: 50%;
			height: 150px;
			margin-bottom: 50px;
			text-align: center;
			float: left;

			&:first-child {
				border-right: 1px solid rgba(0, 0, 0, 0.25);
			}

			h3 {
				font-size: 36px;
				margin-bottom: 15px;
				cursor: default;
			}

			a {
				cursor: default;
				// &:hover {
				// 	.inc {
				// 		.number {
				// 			border-color: currentColor;
				// 		}
				// 	}
				// }

				.photo {
					display: inline-block;
					background-color: rgba(220, 220, 220, 1);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 100%;
					width: 75px;
					height: 75px;
					margin-right: 10px;
					vertical-align: middle;
				}

				.inc {
					display: inline-block;
					vertical-align: middle;

					.number {
						font-weight: 600;
						font-size: 24px;
						border-bottom: 2px solid transparent;
						transition: border-color 0.25s ease;
					}

					.name {
						font-weight: 600;
						font-size: 18px;
						display: block;
						margin-top: 2px;
						color: $black;
					}
				}
			}
		}

		.mail {
			margin-bottom: 50px;
			text-align: center;

			h3 {
				font-size: 48px;
				cursor: default;
			}

			h2 {
				font-size: 54px;

				a {
					border-bottom: 3px solid transparent;
					transition: border-color 0.25s ease;

					&:hover {
						border-color: currentColor;
					}
				}
			}
		}

		.copyright {
			width: 100%;
			margin-bottom: 25px;
			text-align: center;

			p {
				cursor: default;
				color: rgba(0, 0, 0, 0.25);
			}
		}
	}
}

@media(min-width: 1440px) {
	section {
		&.start {
			.social {
				.icon {
					width: 65px;
					height: 65px;
					margin-top: 15px;
				}
			}

			.windowContainer {
				width: 800px;
				height: 400px;
				margin-top: -200px;
				margin-left: -400px;

				.logo {
					width: 800px;
					height: 400px;
				}
			}
		}

		&.sideprojects {
			height: 350px;

			.project {
				height: 350px;

				.container {
					margin-top: 50px;
				}
			}
		}

		&.map {
			height: 900px;

			.mapContainer {
				height: 700px;
			}
		}

		&.videos {
			height: 700px;

			.wrapper {
				.slider {
					height: 700px;

					ul {
						li {
							height: 700px;
						}
					}
				}
			}

			.controls {
				margin-top: -375px;
			}
		}

		&.events {
			.event {
				height: 400px;

				.info {
					margin-top: 110px;
				}
			}
		}

		&.followus {
			height: 900px;

			.container {
				margin-top: -175px;
			}
		}

		&.crew {
			height: 400px;

			.person {
				height: 130px;

				.photo {
					width: 85px;
					height: 85px;
				}

				.info {
					.name {
						font-size: 20px;
					}
				}
			}
		}

		&.contacts {
			.person {
				h3 {
					font-size: 38px;
				}

				a {

					.photo {
						width: 85px;
						height: 85px;
					}

					.inc {
						.number {
							font-size: 26px;
						}

						.name {
							font-size: 20px;
						}
					}
				}
			}

			.mail {
				h3 {
					font-size: 50px;
				}

				h2 {
					font-size: 58px;
				}
			}

			.copyright {
				p {
					font-size: 18px;
				}
			}
		}
	}
}

// section {
// 	&.start {
// 		display: none;
// 	}
//
// 	&.about {
// 		display: none;
// 	}
//
// 	&.crew {
// 		display: none;
// 	}
//
// 	&.map {
// 		display: none;
// 	}
//
// 	&.videos {
// 		display: none;
// 	}
//
// 	&.events {
// 		display: none;
// 	}
//
// 	&.sideprojects {
// 		display: none;
// 	}
//
// 	&.followus {
// 		display: none;
// 	}
//
//  &.contacts {
//  	display: none;
//  }
// }

.btw {
	padding: 50px 75px;

	h2 {
		display: inline-block;
		font-size: 54px;
		cursor: default;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		vertical-align: middle;

		span {
			color: rgba(0, 0, 0, 0.25);
			letter-spacing: 0.001rem;

			&.small {
				font-size: 32px;
				text-transform: lowercase;
				vertical-align: top;
			}
		}

		small {
			font-size: 18px;
			display: block;
			color: rgba(0, 0, 0, 0.3);
		}
	}

	&.center {
		text-align: center;
	}

	&.clickable {
		margin-top: 25px;
		cursor: pointer;
		transition: background-color 0.25s ease;

		&:hover {
			background-color: rgba(0, 90, 255, 0.1);
		}

		h2 {
			cursor: pointer;
		}
	}

	.controls {
		display: inline-block;
		width: auto;
		margin-left: 25px;
		vertical-align: middle;
		opacity: 0.25;

		.select {
			background-color: $white;
			background-image: url(/native/arBottom_black.png);
			background-size: 25%;
			background-position: 90% 50%;
			background-repeat: no-repeat;
			border: 2px solid $black;
			border-radius: 4px;
			padding: 0px;
			margin: 0px;
		    width: 140px;
			color: $black;
		    overflow: hidden;

			select {
				font-size: 18px;
				font-weight: 600;
			    padding: 10px;
			    width: 130%;
			    border: none;
			    box-shadow: none;
			    background-color: transparent;
			    background-image: none;
				border-radius: 4px;
				color: $black;
			    appearance: none;

				&:focus {
				    outline: none;
				}
			}
		}
	}
}
